@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@300&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(239, 253, 255);
    position: relative;
    font-family: 'Open Sans', sans-serif;
}


.container {
    max-width: 1250px;
    margin: auto;
    height: 6.2rem;

}

.color-acento {
    color: rgb(0, 51, 162);
}

/*--------------------menu-----------------*/
header {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 9999999999999;
}

header .logo {
    font-family: 'Lobster', cursive;
    padding: 0px 0px;
    font-weight: bold;
    color: rgb(0, 51, 162);
    font-size: 25px;
   
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-indent: 20px;
}

header nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;

}

header a:hover {
    color: rgb(0, 43, 137);
}

/*--------------------fin menu---------------*/

/*--------------------frase de menu--------------------*/
#hero {
    width: calc(100% / 5);
    font-size: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    background-image: linear-gradient(0deg,
    rgba(49, 49, 49, 0.5),
    rgba(45, 45, 45, 0.361)), url("../Img/pupusaaaas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#hero:nth-child(2){
    background-image: linear-gradient(0deg,
    rgba(49, 49, 49, 0.5),
    rgba(45, 45, 45, 0.361)), url("../Comida/empanadas.jpg");
background-repeat: no-repeat;
}
#hero:nth-child(3){
    background-image: linear-gradient(0deg,
    rgba(49, 49, 49, 0.5),
    rgba(45, 45, 45, 0.361)),  url("../Comida/sopa\ de\ gallina.jpg");
background-repeat: no-repeat;
}
#hero:nth-child(4){
    background-image: linear-gradient(0deg,
    rgba(49, 49, 49, 0.5),
    rgba(45, 45, 45, 0.361)),  url("../Comida/dulce-leche.png");
background-repeat: no-repeat;
}
#hero:nth-child(5){
    background-image: linear-gradient(0deg,
    rgba(49, 49, 49, 0.5),
    rgba(45, 45, 45, 0.361)),  url("../Comida/enchiladas.jpg");
background-repeat: no-repeat;
}
#hero h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    text-transform: initial;
    text-shadow: 0px 0px 25px #000;
}

/*--------------------fin frase de menu--------------*/
.slider{
    display: flex;
    width: 500%;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 800ms;
}


.container-slider{
    overflow: hidden;
    position: relative;
}

.flecha{
    filter: invert(1);
    transform: rotate(90deg);
    z-index: 999;
    cursor: pointer;
    opacity: 0.7;
    transition: 250ms;
}

.flecha:hover{
    opacity: 1;
}

.invertido{
    transform: rotate(270deg);
}

.boton{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    z-index: 9999;
}

.circulo{
    aspect-ratio: 1;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.671) ;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.active-circulo{
    background-color: rgb(255, 255, 255);
}

.circulo:hover{
    background-color: rgba(255, 255, 255, 0.836)
}
.container-circulo{
    display: flex;
    gap: 10px;
   justify-content: center;
   margin-top: -30px;
   padding-bottom: 20px; 
    z-index: 9999;
    position: relative;
}

.dis-sto .global {
    margin-top: 6.9rem;
}

.global .circle {
    margin: 2.4rem 0;
}

.hea-dark {
    color: #252525;
    letter-spacing: .7rem;
    margin-right: -.7rem;
}

.global .h2-sub {
    letter-spacing: -1px;
    line-height: .42;
}

.res-info {
    text-align: center;
}

.res-des {
    margin-bottom: 3rem;
}

.res-des p {
    line-height: 1.6;
    margin-bottom: 2.4rem
}

.res-info {
    display: flex;
    align-items: center;
}

.res-info > div {
    flex: 1;
}

.pad-rig {
    padding-right: 5rem;
}

.res-info div img {
    border-radius: 15px;
    height: 16.5rem;
    max-width: 100%;
    width: 16.5rem;
    padding: auto;
}

.cta-btn {
    background-color: #0044a4;
    color: white;
    border-radius: 0.6rem;
    padding: 1.2rem 2rem;
}

.fil {
    color: blue;
}

.ahh {
    width: 100%;
    height: 70vh;
    background: url("../Comida/frijoles.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}

.ahh::before {
    content:"" ;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.30);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.letras-ahh  {
    max-width: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: initial;
    text-shadow: 0px 0px 25px #000;
    font-size: 1.5rem;

}

.letras-ahh-n {
    color: #ffffff;
    position: relative;
}

.letras-ahh-n h2 {
    color: #0095ff;
}

.imagen-4 {
    max-width: 500px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
}

.img-4 {
    border-radius: 15px!important;
    aspect-ratio: 16/9;
    max-width: 100%;
    object-fit: cover;
}

.disco-container {
    display: flex;
    margin-top: 50px;
}

.disco {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.disco-informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.disco-titulo {
    color: #0067b1;
    font-size: 2.8rem;
    font-weight: bold;
}

.disco-titulo2 {
    font-weight: bold;
    font-size: 3.2rem;
    letter-spacing: 10px;

}

.disco-descripcion {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.disco-boton {
    color: white;
    background-color: #0044a4;
    padding: 10px;
    border-radius: 5px;
    max-width: 250px;
}

@media (max-width: 768px) {
    .disco-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .container-1 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .ahh {
        width: 100%;
        height: 70vh;
        background: url("../Comida/pupusaaaas.jpg") center no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        text-align: center;
        position: relative;   
    }

    .letras-ahh  {
        max-width: 100%;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        text-transform: initial;
        text-shadow: 0px 0px 25px #000;
        font-size: 1.5rem;
    
    }
    
    .res-info img{
        max-width: 290px;
    }
}


/*--------------------pie de pagina-------------------*/


footer {
    background-color: rgb(0, 24, 46);
    font-size: 100%;
    padding-top: 1%;
    width: 100%;
    margin-top: 10%;
}

footer p {
    margin: 0;
    padding: 12px;
    color: #ffffff;
}

footer .container3 {

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;

    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 15px;
    }

    #hero h1 {
        font-size: 3.5em;
    }


    footer .container3 {
        justify-content: center;
    }

}

/*-----------------------fin pie de pagina fin--------------------*/

/*-------------------Botones-----------------*/
button {
    color: rgb(255, 255, 255);
    padding: 9px 25px;
    background-color: #0044a4;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #a4d9ff;
    color: #0067b1;

}

.buttons {
    min-width: 70px;
    display: flex;
    justify-content: space-around;
}

/*-------------------fin Botones-----------------*/

.Photographs {
    width: 85%;
    height: 85%;
    text-align: left;

}

.contar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.contar #final {
    max-width: 20%;
    max-height: 20%
}


section .basic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .basic .start {
    color: #002769 ;
    font-size: 175%;
    text-align: center;
   
}


section .basic .letters {
    color: #001b4a;
    font-size: 100%;
    text-align: center;
}

section .space {
    width: 45%;
    border-color: #00225298;
    border-top: 0px;
}


.card {
    width: 33.333333%;
}

section .let {
    border-radius: 10%;
    background-color:#002552;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20%;
}

/*------------Logo-------------*/
.log{
    font-family: 'Lobster', cursive;
    padding: 0px 0px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.836);
    font-size: 35px;
}
/*--------fin Logo-----------*/