* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    margin: 0;
    background-color: rgb(233, 245, 255);
    position: relative;
    font-family: 'Open Sans', sans-serif;
}


.container {
    max-width: 1400px;
    margin: auto;

}

.color-acento {
    color: rgb(0, 51, 162);
}

/*header*/
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90px;
    justify-content: center;
    background-color: white;
    font-family: 'Lobster', cursive;
    z-index: 100;
    position: sticky;
    top: 0;
   
    
    
}

.logoletras {
    max-width: 100%;
    
}

.letras {
    float: left;
    padding: 30px 10px 0;
}

.letras img {
    height: 35px;
}


.listas {
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
}

.listas ul {
    list-style: none;
    padding: 0px 1px;
}

.listas ul li {
    display: inline-block;
    position: relative;
    z-index: 1000;
}


.listas ul li a {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 25px;

}

.listas ul li a:hover {
    color: #2f4faa;
}

.listas ul li:hover .tipos {
    display: block;
}

.listas .recetas .tipos {
    display: none;
    background: white;
    position: absolute;
    width: 120%;
}

.listas .recetas .tipos li {
    display: block;
    overflow: hidden;
    border-bottom: none;
}

.listas .recetas .tipos li a {
    display: block;
}

/*fin header*/

/*--------------------frase de menu--------------------*/
#hero {
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75vh;
    background-image: linear-gradient(0deg,
            rgba(49, 49, 49, 0.5),
            rgba(12, 12, 12, 0.5)), url("../Comida/pupusas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#hero h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: white;
    text-transform: initial;
    text-shadow: 0px 0px 25px #000;
}

/*--------------------fin frase de menu--------------*/
    


/*-------------------Botones-----------------*/
button {
    color: rgb(255, 255, 255);
    padding: 9px 25px;
    background-color: #0044a4;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #a4d9ff;
    color: #0067b1;

}

.buttons {
    min-width: 70px;
    display: flex;
    justify-content: space-around;
}

/*-------------------fin Botones-----------------*/

<<<<<<< HEAD
/*-----------------Imagenes del footer------------------------*/
.Photographs {
    width: 40px;
    height: 40px;
    text-align: left;
=======
>>>>>>> 4e3aba0c731ba653b28feb97b1abf2403329091f

/*-----------------Letras de la base del index------------------------*/
section .basic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .basic .start {
    color: #002769 ;
    font-size: 175%;
    text-align: center;
   
}


section .basic .letters {
    color: #001b4a;
    font-size: 100%;
    text-align: center;
}

section .space {
    width: 45%;
    border-color: #00225298;
    border-top: 0px;
}
/*----------------- Fin Letras de la base del index------------------------*/

/*------------Boton de mas informacion-----------*/
section .let {
    border-radius: 10%;
    background-color:#002552;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20%;
}



/* media para el responsive*/

@media only screen and (max-width: 1024px) {
    header {
        
        width: 100%;
        height: 90px;
        background-color: white;
        font-family: 'Lobster', cursive;
        position: sticky;
        top: 0;
    }


    .letras img {
        height: 20px;

    }

    .letras {
        padding: 30px 0;
    }

    .listas {
        width: 87.5%;
    }

    .listas ul {
        display: contents;
    }

}