
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(233, 245, 255);
}


ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}



.container {
    max-width: 1400px;
    margin: auto;

}

.color-acento {
    color: rgb(0, 51, 162);
}
/*menu*/
header {
    background-color: rgb(255, 255, 255);

}

header .logo {
font-family:'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0px 0px;
    font-weight: bold;
    color: rgb(0, 51, 162);
    font-size: 1.6em;
    max-width: 40%;
    max-height: 40%
}



header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;

}

header a:hover {
    color: rgb(0, 43, 137);
}
/*fin menu*/

/*frase de menu*/
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../Img/arroz-slider.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: white;
}
/*frase de menu*/

/*pie de pagina*/
footer {
    background-color: rgb(255, 255, 255);
    font-size: 100%;
    padding-top:1%;
}

footer p {
    margin: 0;
    padding: 12px;
    color: #68a9d7;
}

footer .container {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
      
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 15px;
    }

    #hero h1 {
        font-size: 5em;
    }


    footer .container {
        justify-content: center;
    }
}

/*pie de pagina fin*/
 
/*Botones*/
button {
    color: rgb(255, 255, 255);
    padding: 9px 25px;
    background-color: #0075c9;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

 button:hover {
    background-color: #a4d9ff;
    color: #0067b1;

}

.buttons {
    min-width: 70px;
    display: flex;
    justify-content: space-around;
  }
  
.am {
    width: 85%;
    height: 85%;
    text-align: left;

}

.contar{
    text-align: center;
}

.contar #qer {
    max-width: 12%;
    max-height: 12%
    
 }
 .contar .bar {
     width: 60%;
     border-color: #007ed7; 
     border-top: 13px;
     opacity: 0.6;
}

section .vajac .kut{
    color: #0067b1;
    font-size: 175%;
    text-align: center;

}

section .vajac .kut{
    color: #0067b1;
    font-size: 175%;
    text-align: center;
    margin-top: 1%;
}

section .vajac .ki{
    color: #0067b1;
    font-size: 175%;
    text-align: center;
    margin-top: 6%;
}


section .vajac .tor{
    color: #0067b1;
    font-size: 100%;
    text-align: center;
}

section .lytin{
    width: 45%;
    border-color: #007ed7; 
    border-top: 13px;
}

section .vajac .poy{
    color: rgb(255, 255, 255);
    background-color: #0060a4;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: -17px -85px; 
    position:relative;
    top:50%; 
    left:50%; 
}