@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    position: relative;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    height: 80px;
    margin-bottom: 1rem;
}

.social-icon, .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-image: ;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover{
    background-color: black;
    filter: invert(1);
}

.social-icon:nth-of-type(2){
    background-image: url();
}
.social-icon:nth-of-type(4){
    background-image: url();
}
.social-icon:nth-of-type(5){
    background-image: url();
}

.footer-menu{
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color: rgba(0, 128, 255, 0.5)
    opacity: 0.3;
    text-align: center;
}