@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.abuelo {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.papi {
    font-family: open sans-serif;
    gap: 50px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    
}

.wawa {
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.wewe{
    width: 425px;
    margin-top: 25px;
}

h1{
    color: #0044a4;
    font-size: 40px;
}

.linea {
    margin-left: 2rem;
    max-height: 75%;
    padding-top: 2rem;
}

.linea hr {
    height: 8rem;
    width: 0.5rem;
    border: none;
    background-color: #0044a4;
    border-radius: 10px;
}

.bajar{
    margin-top: 50px;
}

