* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: rgb(233, 245, 255);
    position: relative;
    font-family: 'Open Sans', sans-serif;
}


.container {
    max-width: 1400px;
    margin: auto;

}

.color-acento {
    color: rgb(0, 51, 162);
}

/*--------------------menu-----------------*/
header {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 9999999999999;
}

header .logo {
    font-family: 'Lobster', cursive;
    padding: 0px 0px;
    font-weight: bold;
    color: rgb(0, 51, 162);
    font-size: 25px;

}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-indent: 20px;
}

header nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;

}

header a:hover {
    color: rgb(0, 43, 137);
}

/*--------------------fin menu---------------*/


/*--------------------pie de pagina-------------------*/
footer {
    background-color: rgb(0, 24, 46);
    font-size: 100%;
    padding-top: 1%;
    width: 100%;
    margin-top: 10%;
}

footer p {
    margin: 0;
    padding: 12px;
    color: #ffffff;
}

footer .container3 {

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;

    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 15px;
    }

    #hero h1 {
        font-size: 3.5em;
    }


    footer .container3 {
        justify-content: center;
    }

}

/*-----------------------fin pie de pagina fin--------------------*/

/*-------------------Botones-----------------*/
button {
    color: rgb(255, 255, 255);
    padding: 9px 25px;
    background-color: #0044a4;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #a4d9ff;
    color: #0067b1;

}

.buttons {
    min-width: 70px;
    display: flex;
    justify-content: space-around;
}

/*-------------------fin Botones-----------------*/

.Photographs {
    width: 85%;
    height: 85%;
    text-align: left;

}

.contar {
    text-align: center;
}

.contar #final {
    max-width: 20%;
    max-height: 20%
}


section .basic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .basic .start {
    color: #002769;
    font-size: 175%;
    text-align: center;

}


section .basic .letters {
    color: #001b4a;
    font-size: 100%;
    text-align: center;
}

section .space {
    width: 45%;
    border-color: #00225298;
    border-top: 0px;
}


.card {
    width: 33.333333%;
}


/*------------------Subir una receta----------------------*/

section {
    padding: 0 1rem;
}

.want {
    margin-top: 125px;
    background-color: rgb(255, 255, 255);
    border: thin solid #a9acaa;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 1350px;
    height: 690px;

}

.major {
    color: #001b4a;
    margin-bottom: 50px;
    margin-left: 50px;
    font-size: 15px;
}


ol {
    margin: 20px;
    color: #001232;

}

li {
    margin: 20px;
    color: #001232;
}

/*------------------ Fin Subir una receta----------------------*/


/*------------------------Formulario----------------------*/
.login-box {
    width: 350px;
    height: 560px;
    background: rgba(255, 255, 255, 0.852);
    color: rgb(0, 56, 121);
    top: 37%;
    left: 75%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border: thin solid #a9acaa;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);

}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.login-box input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: #002552;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="button"]:hover {
    cursor: pointer;
    background: #9cd7ff;
    color: #000;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;

}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"],
.login-box input[type="email"] {
    border: none;
    border-bottom: 2px solid rgba(0, 74, 159, 0.515);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgba(0, 90, 192, 0.852);
    font-size: 16px;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 58, 125, 0.852);
}

.login-box a:hover {
    color: rgba(0, 90, 192, 0.852);
    font-weight: bold;
}

.login-box input[type="submit"] {
    color: rgb(255, 255, 255);
    padding: 9px 25px;
    background-color: #0044a4;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

::placeholder {
    color: rgba(0, 71, 152, 0.496);
}
